
<div class='block-page'>
<div class='title'>{{#if owner}}您的文章列表{{else}}負能量合輯{{/if}}</div>
<div class='page-tile page-number'>{{currentPage}}/{{pageCount}}頁</div>
<div class='page-tile page-info'>{{postCount}}篇文章</div>
{{#if page.first}}<a class='page-tile btn' href='{{path}}/1'>第一頁</a>{{/if}}
{{#if page.prev}}<a class='page-tile btn' href='{{path}}/{{page.prev}}'>前一頁</a>{{/if}}
{{#if page.next}}<a class='page-tile btn' href='{{path}}/{{page.next}}'>下一頁</a>{{/if}}
{{#if page.last}}<a class='page-tile btn' href='{{path}}/{{page.last}}'>最末頁</a>{{/if}}
</div>

<div class='masonry'>
{{#each posts}}<div class='post' data-pid='{{this.postId}}'>
<div class='post-header'>
<div class='category'>{{this.category}}</div>
{{#if this.isExpired}}
	<div class='post-title expired'>{{this.title}}
	<span class='expired-post-note'>本文章已過期</span></div>
{{else}}
	<div class='post-title'>{{this.title}}</div>
{{/if}}
<div class='post-author'>{{this.user.name}}</div>
</div><!-- end of post-header -->

<div class='content'>
	<pre><code>{{this.content}}</code></pre>
	<div class='info'>
		by <a href='/user/{{this.user.authId}}'>{{this.user.name}}</a>
		<a href='/post/{{this.postId}}'>#</a>
	{{this.created}}<br/>
	{{#if this.expiry}}文章期限: {{this.expiry}}{{/if}}
	</div>
</div>
</div><!--end of .post-->
{{/each}}

</div><!--end of masonry div-->

<script>
$(document).ready(function(){
	var currentPost = null;
	
	$('.post-header').click(function(evt){
		var targetPost = $(this).parent();
		if(currentPost){
			currentPost.find('.content').fadeOut(500, function(){
				console.log('callback now');
				$('body').animate({
					scrollTop: targetPost.offset().top
				}, 500);
			});
		}
		currentPost = targetPost;
		console.log($(this).attr('data-pid') + ' in action.');
		targetPost.find('.content').fadeIn(333);
	});
});


</script>