
<div class='list-view'>


{{#if flash}}
<div class='alert'>
  {{flash}}<span class='btn-close-alert'>x</span>
</div>
{{/if}}

<div class='list-navi'>
  <div class='title'>{{#if isOwner}}您的文章列表{{else}}ASCII-ARTS文字藝術{{/if}}</div>
  <div class='navi-tile page-number'>{{currentPage}}/{{pageCount}}頁</div>
  <div class='navi-tile page-info'>{{postCount}}篇文章</div>
  {{#if page.first}}<a class='navi-tile navi-button' href='{{path}}/1'>第一頁</a>{{/if}}
  {{#if page.prev}}<a class='navi-tile navi-button' href='{{path}}/{{page.prev}}'>前一頁</a>{{/if}}
  {{#if page.next}}<a class='navi-tile navi-button' href='{{path}}/{{page.next}}'>下一頁</a>{{/if}}
  {{#if page.last}}<a class='navi-tile navi-button' href='{{path}}/{{page.last}}'>最末頁</a>{{/if}}
</div>

<div class='list'>
  {{#each posts}}
  <div class='post' data-pid='{{this.postId}}'>
    <div class='post-header'>
      <div class='category'>{{this.category}}</div>
      {{#if this.isExpired}}
        <div class='post-title expired'>{{this.title}}
        <span class='expired-post-note'>本文章已過期</span></div>
      {{else}}
        <div class='post-title'>{{this.title}}</div>
      {{/if}}
      <div class='post-author'>
        by <a class='link-author' href='/user/{{this.user.authId}}'>{{this.user.name}}</a> @{{this.createdAt}}
      </div>
    </div><!-- end of post-header -->

    <div class='post-content'><pre><code>{{this.content}}</code></pre>
      <div class='post-info'>
        <a href='/post/{{this.postId}}'>#</a>
        {{#if this.expiry}}文章期限: {{this.expiry}}{{/if}}
      </div>
    </div>
  </div><!--end of .post-->
  {{/each}}
</div><!--end of list div-->


</div>